$theme: #142d5d;

@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.adds {
  @include flex(column, flex-start, center);
  gap: 25px;
  width: 100%;
  padding: 100px 45px;
  min-height: 1225px;
  background: #f5f5f5;
  overflow-y: scroll;
  p {
    margin: 0;
  }

  .myAdds {
    @include flex(column, flex-start, center);
    gap: 30px;
    width: 100%;

    .title {
      @include flex(row, space-between, center);
      width: 100%;
      font-size: 1.5em;
      font-weight: 700;
      color: #101010;

      .navigation {
        @include flex(row, center, center);
        gap: 10px;

        .prev,
        .next {
          @include flex(row, center, center);
          border-radius: 10px;
          background: #fff;
          padding: 10px;
          svg {
            width: 16px;
            height: 16px;
          }
        }
      }
    }

    .cards {
      width: 100%;

      .slide {
        width: max-content;
      }

      .ad_card {
        @include flex(column, space-between, center);
        width: 260px;
        height: 90%;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.06);
        padding: 1rem 0;

        .image,
        .name,
        .location_rate,
        .link {
          padding: 0 1rem;
        }

        .image {
          height: 200px;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
          }
        }

        .name {
          width: 100%;
          font-weight: bold;
          padding: 8px;
          text-align: center;
        }

        .details {
          @include flex(row, space-around, center);
          width: 100%;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          border-bottom: 1px solid rgba(0, 0, 0, 0.1);
          background: rgba(217, 217, 217, 0.1);

          .option {
            @include flex(column, space-around, center);
            padding: 1em;
            div {
              @include flex(column, space-around, center);
              height: 100%;
              margin-top: 4px;
              font-size: 0.7em;
              color: #4a80e8;
              span {
                font-weight: bold;
              }
            }
          }
        }

        .location_rate {
          @include flex(row, space-between, center);
          width: 100%;
          font-size: 0.8em;
          padding: 1em;

          .rate,
          .location {
            @include flex(row, center, center);
            gap: 2px;
            font-weight: bold;
          }

          .location {
            @include flex(column, flex-start, flex-start);
            :nth-child(2) {
              color: #3c3c3c;
              font-size: 0.9em;
            }
          }
        }

        .update_delete {
          @include flex(row, space-between, center);
          gap: 20px;
          padding: 0 1em;
          width: 100%;

          button {
            @include flex(row, center, center);
            width: 50%;
            height: 42px;
            color: #fff;
            padding: 0 !important;
          }

          .update {
            border: 1px solid #4a80e8;
            color: #4a80e8;
            background: #4a80e812;
          }

          .delete {
            border: 1px solid #f93423;
            color: #f93423;
            background: #f934230d;
          }
        }
      }
    }
  }

  .banner {
    @include flex(row, space-between, flex-start);
    width: 100%;
    border-radius: 30px;
    border: 2px solid #4a80e8;
    background: #fff;

    .text {
      @include flex(column, flex-start, flex-start);
      gap: 55px;
      padding: 0 1rem;
      padding-top: 2rem;

      .title {
        font-size: 1.5em;
        font-weight: 700;
        color: #101010;
        span {
          color: #4a80e8;
        }
      }

      .box {
        border-radius: 10px;
        border: 1px solid #101010;
        background: rgba(217, 217, 217, 0.4);
        padding: 15px 20px;
        color: #101010;
        font-size: 0.9em;
        font-weight: 400;
        line-height: 170%;
        position: relative;
        margin-top: 7px;

        .line_box {
          position: absolute;
          top: 0;
          right: 20%;
          transform: translate(0, -100%);

          .square {
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(50%, -100%);
            border-radius: 3px;
            background: #4a80e8;
            width: 16px;
            height: 16px;
          }
        }
      }

      .link {
        @include flex(row, center, center);
        gap: 10px;
        width: 100%;

        .lines1,
        .lines2 {
          height: 100%;
        }

        .btn {
          width: 160px;
          button {
            @include flex(row, space-between, center);
            padding: 0 !important;
            height: 42px;
            padding-right: 15px !important;
            width: 100%;
            color: #fff;
            border-radius: 10px;
            background: #4a80e8;

            div {
              @include flex(row, center, center);
              width: 60px;
              height: 40px;
              margin-left: -4px;
              position: relative;

              .svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
              }

              .arrow {
                color: #4a80e8;
                z-index: 2;
                width: 15px;
                margin-left: -4px;
              }
            }
          }
        }
      }
    }

    .solid_pic {
      width: 70%;
      height: 350px;
      padding: 1rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 20px;
        object-fit: cover;
      }
    }
  }
}

.create_add {
  @include flex(column, flex-start, center);
  gap: 25px;
  width: 100%;
  padding: 100px 45px;
  min-height: 100vh;
  background: #f5f5f5;
  overflow-y: scroll;
  p {
    margin: 0;
  }

  .form {
    @include flex(row, space-between, flex-start);
    width: 100%;
    border-radius: 40px;
    background: #fff;
    box-shadow: 0px 4px 80px 0px rgba(211, 211, 211, 0.25);

    .image {
      width: 50%;
      height: 1000px;
      overflow: hidden;
      position: relative;
      img {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 40px;
      }
    }

    .add_details {
      @include flex(column, flex-start, flex-start);
      gap: 20px;
      width: 50%;
      padding: 25px 35px;

      .title {
        @include flex(row, space-between, center);
        width: 100%;
        h1 {
          font-size: 1.1em;
          font-weight: 700;
        }

        select {
          width: 350px;
          height: 52px;
        }
      }

      .images {
        @include flex(row, flex-start, flex-start);
        gap: 30px;
        flex-wrap: wrap;
        width: 100%;

        .input {
          width: 125px;
          height: 125px;
          border-radius: 30px;
          border: 2px solid #142d5d;
          background: #fff;
          padding: 20px 15px;
          text-align: center;

          .content {
            @include flex(column, space-between, center);
            width: 100%;
            height: 100%;

            .img,
            .img_loading {
              height: fit-content;
              object-fit: cover;
              border-radius: 20px;
            }
            .img_loading {
              opacity: 0.5;
            }
          }
        }
      }

      .details {
        @include flex(row, space-between, flex-start);
        gap: 15px;
        width: 100%;
        flex-wrap: wrap;

        .input {
          @include flex(column, flex-start, center);
          color: #3c3c3c;
          width: 190px;

          input,
          select {
            width: 190px;
            height: 42px;
            border-radius: 12px;
          }

          .error {
            color: #f93423;
            font-size: 0.8em;
          }
        }

        .description {
          @include flex(column, flex-start, center);
          width: 100%;
          textarea {
            width: 100%;
          }

          .error {
            color: #f93423;
            font-size: 0.8em;
          }
        }
      }

      .submit_btn {
        @include flex(row, flex-start, center);
        width: 100%;

        button {
          border-radius: 15px;
          background: #142d5d;
          color: #fff;
          padding: 18px 50px;
          font-weight: 700;
        }
      }
    }
  }
}
