@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.jobs {
  @include flex(column, flex-start, center);
  gap: 25px;
  width: 100%;
  padding: 100px 45px;
  min-height: 1225px;
  background: #f5f5f5;
  overflow-y: scroll;
  p {
    margin: 0;
  }
}
