@font-face {
  font-family: dana;
  src: url("../public/fonts/Dana-Medium.ttf");
}

@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.header {
  width: 100%;
  height: 165px;
  position: relative;
  color: #fff;
  font-family: dana;
  font-size: 18px;

  .background {
    width: 100%;
    height: 45%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;

    img {
      width: 100%;
    }
  }

  .content {
    @include flex(row, center, center);
    width: 100%;
    height: 45%;
  }

  .header_content {
    @include flex(row, space-between, center);
    width: 100%;
    height: 55%;
    padding: 0 3%;
    border-bottom: 2px solid #e6e6e6;

    .symbol {
      @include flex(row, space-between, center);
      color: #3c3c3c;

      .logo {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .name {
        @include flex(column, space-between, flex-start);
        font-size: 1.5em;
        height: 100%;
        font-weight: bold;

        p,
        h1 {
          margin: 0;
        }
      }
    }

    .routes {
      @include flex(row, space-between, center);
      gap: 1rem;

      .category {
        @include flex(row, space-between, center);
        gap: 5px;
        border-left: 1px solid #161a1d;
      }

      span {
        color: #7f7f7f;
        padding: 0 15px;
      }
    }

    .account_info {
      @include flex(row, center, center);
      gap: 10px;

      .shop {
        background: #eaedf3;
        position: relative;

        .badge {
          @include flex(row, center, center);
          width: 25px;
          height: 25px;
          background-image: url("../public/assets/badge.svg");
          background-repeat: no-repeat;
          color: #fff;
          position: absolute;
          right: 0;
          top: 0;
          transform: translate(50%, -50%);
        }
      }

      .login {
        @include flex(row, center, center);
        gap: 2px;
        background: #142d5d;
        color: #fff;

        .line {
          width: 2px;
          height: 80%;
          background: #fff;
        }
      }
    }
  }
}

.footer {
  @include flex(column, flex-end, center);
  width: 100%;
  height: 386px;
  font-size: 14px;
  color: #fff;
  background: #000;
  position: relative;

  p {
    margin: 0;
  }

  .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80%;
    height: 386px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .footer_content {
    @include flex(row, flex-start, center);
    gap: 2%;
    width: 100%;
    height: 100%;
    padding: 2% 5%;
    padding-left: 10%;
    z-index: 1;

    .contact_details {
      @include flex(column, flex-start, flex-start);
      gap: 20%;
      max-width: 40%;
      height: 100%;

      .logo_texts {
        @include flex(row, flex-start, center);
        gap: 5%;
        width: 100%;

        .logo {
          height: 50%;
        }

        .texts {
          @include flex(column, flex-start, center);

          div {
            @include flex(row, flex-start, center);
            gap: 5%;
            width: 100%;
            h1 {
              color: #4a80e8;
            }
          }
        }
      }

      .contatcs {
        @include flex(row, space-between, center);
        gap: 2%;

        .phone,
        .address {
          @include flex(row, center, center);
          gap: 10px;

          .logo {
            background-color: hsl(0, 0%, 64%, 0.1);
            border-radius: 20px;
            padding: 20px;
          }

          .texts {
            :nth-child(2) {
              color: #c1c1c1;
              font-size: 0.7em;
            }
          }
        }
      }
    }

    .tags {
      @include flex(column, space-between, flex-start);
      gap: 20px;
      width: 25%;

      .texts {
        @include flex(row, space-evenly, center);
        gap: 2%;
        width: 100%;
        border-left: 1px solid #ececec;

        div {
          :nth-child(1) {
            font-size: 1.2em;
            padding: 0;
          }
          span {
            @include flex(row, flex-start, center);
            gap: 5px;
            padding-right: 10%;
            .blue_box {
              width: 8px;
              height: 8px;
              background-color: #4a80e8;
              border-radius: 2px;
            }
          }
        }
      }

      .buttons {
        @include flex(row, flex-start, center);
        width: 100%;
        gap: 8%;

        .btn {
          @include flex(row, center, center);
          border: none;
          padding: 1rem;
          border-radius: 15px;
        }
      }
    }

    .trust_links {
      @include flex(row, center, center);
      gap: 4%;
      width: 25%;

      div {
        @include flex(column, center, center);

        .box {
          width: 90px;
          height: 90px;
          border-radius: 20px;
          background: #fff;
          margin: 4%;

          img {
            width: 100%;
            height: 80%;
          }
        }
      }
    }
  }

  .develop_tag {
    @include flex(row, space-around, center);
    width: 100%;
    height: 70px;
    border-top: 1px solid #fff;
    background: rgba(81, 81, 81, 0.2);
    backdrop-filter: blur(50px);
    div,
    button {
      @include flex(row, space-between, center);
      gap: 20px;
    }
  }
}
