@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}
@mixin responsive {
  max-width: 1600px;
  margin: 0 auto;
}

.magazine_page {
  @include flex(column, flex-start, center);
  @include responsive();
  gap: 2rem;
  padding: 2rem;
  font-family: dana;
  p,
  h1 {
    margin: 0;
  }

  .title {
    @include flex(row, flex-start, center);
    width: 100%;
    gap: 10px;
    p {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .main_title {
    @include flex(row, flex-start, center);
    width: 100%;
    h1 {
      font-weight: bold;
      font-size: 2em;
    }
  }

  .contents {
    @include flex(row, space-between, flex-start);
    width: 100%;

    .main_content {
      @include flex(column, flex-start, center);
      gap: 2rem;
      width: 65%;

      .gallery {
        @include flex(column, center, flex-start);
        gap: 1rem;
        width: 100%;

        .photos {
          @include flex(row, center, flex-start);
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;
        }

        .my_swiper {
          width: 100%;
          height: 450px;
          .slide {
            width: 100%;
            height: 100%;
            border-radius: 50px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .my_swiper2 {
          position: absolute;
          left: 5%;
          top: 5%;
          width: 10%;
          height: 100%;

          .slide2 {
            width: 100%;
            max-height: 70px;
            border: 3px solid #fff;
            border-radius: 10px;
            margin-bottom: 1rem;
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
        }

        .magazine_details {
          @include flex(row, flex-start, center);
          gap: 10px;

          .name {
            color: #4a80e8;
          }

          span {
            color: #d80739;
          }
        }
      }

      .texts {
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        width: 100%;
        .title {
          font-size: 1.1em;
          color: #101010;
          font-weight: 700;
        }

        .descriptions {
          color: #3a3a3a;
          text-align: justify;
          line-height: 170%;
        }
      }

      .share {
        @include flex(row, space-between, center);
        width: 100%;
        padding: 25px 10px;
        border-radius: 12px;
        background: #fff;
        box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);

        .links {
          @include flex(row, flex-start, center);
          gap: 20px;
          div {
            @include flex(row, center, center);
            width: 30px;
            height: 30px;
            border-radius: 6px;
            background: #f5f5f5;
            cursor: pointer;
          }
        }

        .text {
          color: #4a80e8;
        }
      }
    }

    .other_contents {
      @include flex(column, flex-start, center);
      gap: 2rem;
      padding: 0 2rem;
      width: 35%;

      .latest_clubs {
        @include flex(column, flex-start, flex-start);
        gap: 1.5rem;
        width: 100%;

        .list {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          border-radius: 20px;
          background: #fff;
          box-shadow: 0px 4px 100px 0px rgba(187, 187, 187, 0.2);
          padding: 1rem;

          .image {
            width: 100%;
            height: 30%;
            margin-bottom: 1.5rem;
            position: relative;
            color: #fff;
            border-radius: 20px;
            overflow: hidden;
            img {
              width: 100%;
            }

            .blur {
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 23%;
              svg {
                width: 100%;
                height: 120%;
              }
            }
            .text {
              position: absolute;
              bottom: 10px;
              left: 50%;
              transform: translate(-50%);
            }
          }

          .list_item {
            @include flex(column, flex-start, flex-start);
            border-right: 1px dashed #4a80e866;
            padding-bottom: 4rem;
            .description {
              padding-right: 25px;
              color: #757575;
            }
          }
          .list_item:last-child {
            border: none;
            padding-bottom: 10px;
          }
        }
      }

      .image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
          border-radius: 20px;
        }
      }

      .best_clubs {
        @include flex(column, flex-start, flex-start);
        width: 100%;
        gap: 1rem;

        .list {
          @include flex(column, flex-start, center);
          gap: 1rem;
          width: 100%;

          .card {
            @include flex(row, flex-start, flex-start);
            gap: 15px;
            width: 100%;
            border-radius: 20px;
            background: #fff;
            box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);
            padding: 1rem;

            .image {
              @include flex(row, center, center);
              max-width: 25%;
              height: 100%;

              img {
                width: 90px;
                height: 90px;
                object-fit: cover;
              }
            }

            .texts {
              @include flex(column, space-between, flex-start);
              gap: 15px;
              width: 100%;
              height: 100%;
              .title {
                font-weight: bold;
                font-size: 0.9em;
              }
              .detail {
                @include flex(row, space-between, flex-end);
                width: 100%;
                font-size: 0.8em;
                button {
                  @include flex(row, flex-end, center);
                  gap: 10px;
                  width: 105px;
                  height: 28px;
                  border: 1px solid #4a80e8;
                  padding: 0 !important;
                  div {
                    @include flex(row, center, center);
                    width: 30px;
                    height: 100%;
                    margin-top: 8px;
                    img {
                      width: 160%;
                      height: 160%;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .suggested_clubs {
    @include flex(column, flex-start, center);
    gap: 2rem;
    width: 100%;
    padding: 4rem 0;

    .title {
      font-size: 1.6em;
      position: relative;

      .next_prev_offers {
        @include flex(row, center, center);
        gap: 10px;
        position: absolute;
        left: 0;
        top: 0;

        .next,
        .prev {
          @include flex(row, center, center);
          width: 50px;
          height: 50px;
          cursor: pointer;
          border-radius: 50%;
          padding: 10px;
          border: 1px solid #000;
        }
      }
    }

    .cards {
      width: 100%;

      .card {
        @include flex(column, space-between, center);
        gap: 1.5rem;
        width: 300px;
        padding: 1rem;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 100px 0px rgba(187, 187, 187, 0.2);

        .image {
          width: 100%;
          overflow: hidden;
        }

        .texts {
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 1.5rem;
          .title {
            font-size: 1.1em;
            font-weight: bold;
          }
          p {
            opacity: 40%;
          }
        }

        .bottom_content {
          @include flex(row, space-between, center);
          width: 100%;

          button {
            @include flex(row, space-between, center);
            border: 1px solid #4a80e8;
            color: #4a80e8;
            width: 105px;
            height: 28px;
            position: relative;
            padding: 0;
            padding-right: 10px;
            div {
              @include flex(row, center, center);
              width: 30px;
              height: 100%;
              margin-top: 8px;
              img {
                width: 160%;
                height: 160%;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .magazine_page {
    .contents {
      .main_content {
        .gallery {
          .my_swiper {
            height: 400px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .magazine_page {
    .contents {
      @include flex(column, flex-start, flex-start);

      .main_content {
        width: 100%;

        .gallery .photos {
          .my_swiper {
            height: 350px;
          }
          .my_swiper2 {
            width: 15%;
          }
        }
      }

      .other_contents {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  .magazine_page {
    font-size: 12px;
    .contents {
      @include flex(column, flex-start, flex-start);
      gap: 2rem;

      .main_content {
        width: 100%;

        .gallery .photos {
          .my_swiper {
            height: 280px;
          }
        }

        .share {
          flex-direction: column;
          gap: 15px;
        }
      }

      .other_contents {
        width: 100%;
      }
    }

    .other_contents {
      padding: 0 !important;
      .best_clubs {
        .list {
          .list_item {
            img {
              width: 20%;
              height: 35px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .magazine_page {
    .main_title {
      line-height: 200%;
    }
    .contents {
      .main_content {
        .gallery {
          .photos {
            .my_swiper {
              height: 180px;
              .slide {
                border-radius: 20px;
              }
            }
          }
        }
      }
    }

    .suggested_clubs {
      .title {
        .next_prev_offers {
          display: none;
        }
      }

      .cards {
        .card {
          margin: 0 auto;
        }
      }
    }
  }
}
