@import "./offers.scss", "./trade.scss", "./jobs.scss", "./magazine.scss",
  "./variables.scss", "./club.scss";

$dark-theme: #040516;
$light-theme: #fff;

@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.main {
  @include flex(column, flex-start, center);
  width: 100%;
  font-size: 16px;
  p {
    margin: 0;
  }

  ::-webkit-scrollbar {
    width: 20px;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }

  .head_carousel {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    height: 380px;
    padding: 0 3rem;
    border-radius: 25px;
    margin: 2rem 0;

    .mySwiper {
      width: 100%;
      height: 100%;

      .content {
        @include flex(row, space-between, center);
        color: #fff;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 25px;

        .background {
          position: absolute;
          object-fit: cover;
          top: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          z-index: -1;
        }

        .texts {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          max-width: 40%;
          padding: 0 1rem;

          h1 {
            font-size: 1.65em;
            color: #fff;
          }
          p {
            opacity: 0.6;
            margin-bottom: 8px;
            font-size: 1em;
          }

          .btn {
            @include flex(row, center, center);
            background-color: #fff;
            color: #000;
            height: 52px;
            width: 140px;
            padding: 0 !important;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
              @include flex(row, center, center);
              background: #142d5d;
              width: 25px;
              height: 32px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 12px !important;
              border-radius: 10px;
              margin-right: 8px;
            }
          }
        }

        .car {
          max-width: 386px;
          height: 386px;
          img {
            width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }

  .service_category {
    width: 100%;

    .title {
      @include flex(row, center, center);
      height: 50px;
      width: 100%;
      font-size: 2em;
      font-weight: bold;
    }

    .mySwiper,
    .mySwiper2 {
      width: 100%;
      height: 100%;
      background-image: url("../public/assets/main/service-background.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .swiper_slide {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .content {
        @include flex(column, space-between, center);
        width: 100%;
        gap: 1rem;
        height: 100%;
        color: #fff;
        padding: 1rem;

        .service_list {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          gap: 10px;
          width: 100%;
          .service {
            @include flex(column, flex-start, center);
            margin: 0 auto;
          }
        }

        .down_content {
          @include flex(row, space-between, center);
          width: 100%;
          min-height: 300px;

          .texts {
            @include flex(column, center, center);
            gap: 30%;
            height: 100%;

            .service_list {
              @include flex(row, flex-start, flex-start);
              flex-wrap: wrap;
            }

            p {
              font-size: 2em;
              font-weight: bold;
            }
          }

          .speed_ometeres {
            @include flex(row, flex-start, flex-end);
            width: 25%;
            height: 100%;

            .big_speedometer {
              width: 70%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }

            .small_speedometer {
              width: 30%;
              height: 40%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .ads {
    width: 100%;
    margin: 2rem 2rem;
    margin-top: 3.5rem;
    position: relative;

    .title {
      @include flex(row, space-between, center);
      width: 100%;
      color: #3a3a3a;
      padding: 0 4rem;

      h1 {
        font-size: 2em;
        font-weight: bold;
        color: #3a3a3a;
      }
      button {
        background: #142d5d;
        border-radius: 5px;
        color: #fff;
        width: 100px !important;
        height: 42px !important;
        font-size: 12px !important;
        z-index: 2;
      }
    }

    .cards {
      padding: 0 2rem;
      margin: 0 2rem;
      position: relative;
      .ad_card {
        @include flex(column, space-between, center);
        width: 260px;
        min-width: 260px;
        height: 90%;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.06);
        padding: 1rem 0;

        .image,
        .name,
        .location_rate,
        .link {
          padding: 0 1rem;
        }

        .image {
          height: 35%;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .name {
          width: 100%;
          font-weight: bold;
          padding: 8px;
          text-align: center;
        }

        .details {
          @include flex(row, space-around, center);
          width: 100%;
          border-top: 1px solid hsla(0, 0%, 0%, 0.1);
          border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
          background: rgba(217, 217, 217, 0.12);

          .option {
            @include flex(column, space-around, center);
            padding: 1em;
            div {
              @include flex(column, space-around, center);
              height: 100%;
              margin-top: 4px;
              font-size: 0.7em;
              color: #4a80e8;
              span {
                font-weight: bold;
              }
            }
          }
        }

        .location_rate {
          @include flex(row, space-between, center);
          width: 100%;
          font-size: 0.8em;
          padding: 1em;

          .rate,
          .location {
            @include flex(row, center, center);
            gap: 2px;
            font-weight: bold;
          }

          .location {
            @include flex(column, flex-start, flex-start);
            :nth-child(2) {
              color: #3c3c3c;
              font-size: 0.9em;
            }
          }
        }

        .link {
          width: 100%;
          button {
            @include flex(row, space-between, center);
            width: 100%;
            height: 42px;
            color: #fff;
            padding: 0 !important;

            span {
              margin: 0 auto;
            }

            div {
              width: 20%;
              height: 100%;
              background-image: url("../public/assets/main/link-back.svg");
              background-repeat: no-repeat;
              background-size: 110% 110%;
              margin-bottom: 5px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }

    .opacity {
      position: absolute;
      left: 0;
      top: 0;
      width: 200px;
      height: 500px;
      opacity: 30%;
      background: hsl(0, 0%, 100%, 0.8);
      box-shadow: 20px 0 50px #fff;
      z-index: 1;
      pointer-events: none;
    }

    .swiper {
      @include flex(row, flex-start, center);
      width: 120%;
      height: 100%;
      position: relative;
    }

    // .slide {
    //   background: #fff;
    //   box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.06);
    // }

    .swiper_slide {
      @include flex(row, flex-start, center);
    }

    .swiper_prev,
    .swiper_next {
      @include flex(row, center, center);
      position: absolute;
      padding: 0;
      cursor: pointer;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      z-index: 3;
      width: 55px;
      height: 55px;
      background: #142d5d;
      border: 1px solid gray;
      border-radius: 50%;
      font-weight: 700;
      outline: 0;
      transition: background-color 0.2s ease, color 0.2s ease;

      span {
        width: 50%;
        height: 50%;
        pointer-events: none;
        svg {
          width: 100%;
          pointer-events: none;
          height: 100%;
        }
      }
    }

    .swiper_prev {
      right: 0;
    }
  }

  .infos {
    @include flex(row, space-between, center);
    gap: 2rem;
    width: 100%;
    margin: 2rem 0;
    padding: 0 4rem;
    z-index: 2;

    .info,
    .info_black {
      @include flex(row, space-between, center);
      position: relative;
      background: #d80739;
      border-radius: 22px;
      overflow: hidden;

      .texts {
        @include flex(column, center, flex-start);
        gap: 10px;
        color: #fff;
        width: 100%;
        font-size: 0.9em;
        z-index: 1;
        padding: 0 1rem;

        h1 {
          @include flex(row, center, center);
          gap: 5px;
          font-size: 1.5em;
          span {
            color: #d80739;
          }
        }
        p {
          font-size: 0.9em;
          opacity: 0.6;
          margin-bottom: 10px;
        }

        button {
          @include flex(row, center, center);
          height: 48px;
          width: 140px;
          background: #fff;
          color: #3f3f3f;

          div {
            @include flex(row, center, center);
            background: #d80739;
            width: 24px;
            height: 28px;
            font-size: 12px;
            margin-right: 8px;
            border-radius: 10px;
          }
        }
      }

      .image {
        width: 100%;
        margin-top: auto;
        z-index: 1;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .background {
        position: absolute;
        right: 0;
        width: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .market {
    @include flex(column, flex-start, center);
    width: 100%;
    gap: 2rem;
    padding: 0 4rem;
    margin: 2rem 0;

    .title {
      @include flex(row, space-between, center);
      width: 100%;

      div {
        @include flex(row, center, center);

        h1 {
          font-size: 1em;
          opacity: 0.75;
          margin: 0 !important;
        }

        .selected {
          font-size: 2em;
        }

        div {
          width: 2px;
          height: 15px;
          margin: 0 16px;
          background: #e6e6e6;
        }
      }

      button {
        background: #142d5d;
        border-radius: 5px;
        color: #fff;
        width: 100px !important;
        height: 42px !important;
        font-size: 12px !important;
      }
    }

    .market_materials1,
    .market_materials2 {
      @include flex(row, flex-start, center);
      width: 100%;
      height: 460px;
      border-radius: 40px;
      border: 1px solid #d80739;
      background: #fff;
      padding: 0 1.5rem;
      position: relative;

      .market_card {
        @include flex(column, flex-start, center);
        width: 250px;
        height: 410px;
        border-radius: 15px;
        box-shadow: 11px -3px 30px 0px rgba(216, 7, 57, 0.12);
        position: relative;
        margin: auto 0;

        .badge {
          @include flex(column, center, center);
          width: 30px;
          height: 45px;
          display: flex;
          font-size: 0.7em;
          position: absolute;
          top: 0;
          right: 10%;
          border-radius: 0px 0px 15px 15px;
          background: #fdc830;
        }

        .image {
          @include flex(row, center, center);
          width: 100%;
          margin: 16px 0;
          img {
            width: 40%;
            height: 100%;
          }
        }

        .texts {
          @include flex(column, flex-start, center);
          padding: 0 1rem;
          h1 {
            font-size: 1em;
            font-weight: bold;
          }
          p {
            color: #3f3f3f;
            opacity: 0.6;
            margin: 0;
            font-size: 12px;
            text-align: center;
          }
        }

        .price {
          @include flex(column, flex-start, center);
          font-size: 1em;
          margin: 8px 0;
          :nth-child(2) {
            opacity: 0.4;
            font-size: 0.75em !important;
            text-decoration: line-through;
          }
        }

        .button {
          @include flex(row, center, center);
          width: 100%;
          margin-top: auto !important;
          margin-bottom: 16px;
          button {
            @include flex(row, center, center);
            width: 80%;
            height: 40px;
            position: relative;
            padding: 0 !important;
            > span {
              padding-left: 16px;
            }
            div {
              @include flex(row, center, center);
              position: absolute;
              left: 0 !important;
              top: 0 !important;
              width: 50px;
              background: #b1062e;
              border-radius: 10px;
              height: 100%;
            }
          }
        }
      }

      .market_card_special {
        @include flex(column, space-between, center);
        width: 260px;
        height: 365px;
        max-height: 370px;
        background: #d80739;
        border-radius: 15px;
        box-shadow: 11px -3px 30px 0px rgba(216, 7, 57, 0.12);
        padding: 1rem 2rem;
        padding-bottom: 3rem;
        color: #fff;
        position: relative;

        .title {
          @include flex(row, space-between, center);
        }

        .image {
          @include flex(row, center, center);
          width: 160px;
          height: 160px;
          padding: 10px;
          background-image: url("../public/assets/main/market-item-background.svg");
          background-size: 100% 100%;
          background-repeat: no-repeat;
          padding: 1rem;
          border: #000 solid white;
          border-radius: 50%;
          img {
            width: 100% !important;
            height: 100% !important;
            border-radius: 50% !important;
            object-fit: contain !important;
          }
        }
        .texts h1 {
          font-size: 1em;
        }
        .price {
          @include flex(row, space-around, center);
          width: 100%;
          margin-bottom: 10px;
        }

        .button {
          position: absolute;
          bottom: -20px;
          width: 60px !important;
          height: 60px !important;
          border-radius: 50% !important;
          background: white;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            width: 40px !important;
            height: 40px !important;
            padding: 0 !important;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
          }
        }

        .view_all_btn {
          position: absolute;
          bottom: -40px;
          color: black;
          z-index: 9999 !important;
          display: flex;
          align-items: center;
          cursor: pointer;
          :hover {
            color: #265dc7;
          }
          div {
            width: 18px;
            height: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 6px !important;
            margin-right: 8px;
            border: 1.5px solid rgba(0, 0, 0, 0.241);
          }
        }
      }
    }

    .market_materials2 {
      border: 1px solid #142d5d;
      .market_card_special,
      .market_card_special .button button {
        background: #142d5d;
        border: 1px solid #142d5d !important;
      }
    }

    .swiper {
      @include flex(row, flex-start, center);
      width: 100%;
      height: 100%;
      position: relative;
      padding: 1rem;
    }

    .swiper_slide {
      width: 100%;
      min-height: 410px;
    }

    .swiper_prev,
    .swiper_next {
      @include flex(row, center, center);
      position: absolute;
      padding: 0;
      cursor: pointer;
      top: 50%;
      left: 0;
      transform: translate(-50%, -50%);
      z-index: 3;
      width: 55px;
      height: 55px;
      background: #142d5d;
      border: 1px solid gray;
      border-radius: 50%;
      font-weight: 700;
      outline: 0;
      transition: background-color 0.2s ease, color 0.2s ease;

      span {
        width: 50%;
        height: 50%;
        pointer-events: none;
        svg {
          width: 100%;
          pointer-events: none;
          height: 100%;
        }
      }
    }

    .swiper_prev {
      right: 0;
      transform: translate(50%, -50%);
    }
  }

  .magazine {
    @include flex(column, flex-start, center);
    gap: 1rem;
    width: 100%;
    margin: 2rem;
    padding: 0 4rem;

    .title {
      @include flex(row, space-between, center);
      width: 100%;

      h1 {
        font-size: 2em;
      }

      .btns {
        @include flex(row, center, center);
        gap: 20px;

        button {
          width: 50px;
          height: 50px;
          border-radius: 10px;
          background: #142d5d;
        }
      }
    }

    .content {
      @include flex(row, space-between, center);
      width: 100%;
      height: 100%;

      .solid_pic {
        @include flex(row, flex-start, center);
        width: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
        }

        .caption {
          position: absolute;
          width: 70%;
          left: 50%;
          bottom: 50%;
          transform: translate(-50%, 100%);
          border-radius: 15px;
          border: 1px solid #fff;
          color: #fff;
          background: rgba(50, 50, 50, 0.17);
          backdrop-filter: blur(27px);
          padding: 1rem 2rem;

          img {
            width: 18px;
            height: 10px;
            padding-right: 10px;
          }

          .title {
            @include flex(row, center, center);
            text-align: center;
            font-size: 1.1em;
            margin-bottom: 10px;
            span {
              margin: 0 auto;
            }
          }

          .description {
            text-align: right;
            font-weight: 100;
            font-size: 0.9em;
            line-height: 200%;
          }
        }
      }

      .mag_options {
        @include flex(column, center, center);
        width: 45%;
        height: 100% !important;

        .option {
          @include flex(row, space-around, center);
          width: 100%;
          padding: 12px;
          margin: 10px 0;
          border-radius: 20px;
          background: #fff;
          box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);

          .pic {
            width: 90px !important;
            min-width: 110px !important;
            height: 90px !important;
            margin-left: 12px;
            img {
              width: 100% !important;
              height: 100% !important;
              border-radius: 20px;
              object-fit: cover !important;
            }
          }

          .texts {
            @include flex(column, space-between, flex-start);
            gap: 10px;
            width: 100%;
            .title {
              font-weight: bold;
            }
            .description {
              font-size: 0.9em;
              color: #757575;
            }
            .refrences {
              @include flex(row, space-between, center);
              width: 100%;
              button {
                @include flex(row, space-between, center);
                width: 140px;
                border-radius: 10px;
                border: 1px solid #4a80e8;
                background: rgba(255, 255, 255, 0.1);
                padding: 0 !important;
                padding-right: 16px !important;
                height: 40px;
                color: #4a80e8;
                div {
                  width: 50px;
                  height: 40px;
                  img {
                    margin-top: -8px;
                    width: 120%;
                    height: 160%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .fan_club {
    @include flex(column, flex-start, center);
    width: 100%;
    padding: 2rem;

    .title {
      @include flex(row, flex-start, center);
      width: 100%;

      h1 {
        font-size: 1.5em;
        position: relative;
      }
      .line {
        width: 100%;
        height: 3px;
        border-radius: 10px;
        background: #142d5d;
        position: absolute;
        bottom: -10px;
      }
    }

    .club_list {
      @include flex(row, flex-start, center);
      gap: 1rem;
      overflow-x: scroll;
      width: 100%;
      padding-top: 30px;
      position: relative;

      .next,
      .prev {
        @include flex(row, center, center);
        border: 1px solid #000;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        position: absolute;
        left: 0;
        top: 50%;
        background: #142d5d;
        z-index: 2;
        cursor: pointer;
      }

      .prev {
        right: 0;
      }

      .mySwiper {
        padding: 0 50px;
      }

      .box {
        @include flex(row, center, center);
        border-radius: 20px;
        background: #f5f5f5;
        width: 128px;
        height: 128px;
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
  }

  .club_link {
    @include flex(row, flex-start, center);
    gap: 1rem;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: rgba(217, 217, 217, 0.1);
    padding: 2rem;

    .link {
      @include flex(row, space-around, center);
      gap: 15px;
      min-width: 30%;
      border-radius: 20px;
      background: #fff;
      box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);
      padding: 15px;
      margin: 10px 0;

      .pic {
        min-width: 110px;
        height: 90px;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          object-fit: cover;
        }
      }

      .texts {
        @include flex(column, space-between, space-between);
        gap: 15px;
        width: 100%;

        h1 {
          font-size: 1em;
          font-weight: bold;
        }

        .refrences {
          @include flex(row, space-between, center);

          .name_profile {
            @include flex(row, center, center);
            gap: 5px;
            color: #757575;
            .profile {
              width: 30px;
              height: 30px;
              border-radius: 50%;
            }
          }

          button {
            @include flex(row, center, center);
            width: 95px;
            height: 28px;
            padding: 0 !important;
            padding-right: 5px !important;
            border-radius: 10px;
            border: 1px solid #4a80e8;
            color: #4a80e8;
            background: rgba(255, 255, 255, 0.1);
            div {
              width: 30px;
              height: 100%;
              margin-top: -8px;
              img {
                width: 160%;
                height: 160%;
              }
            }
          }
        }
      }
    }
  }

  .install_app {
    @include flex(row, space-between, center);
    gap: 4rem;
    width: 100%;
    margin: 2rem;

    .texts {
      @include flex(column, flex-start, center);
      width: 55%;
      gap: 100px;
      padding: 2rem;
      padding-left: 4rem;

      .title {
        @include flex(row, flex-start, center);
        gap: 5px;
        font-size: 1.9em;
        margin-bottom: 3rem;
        span {
          color: #265dc7;
        }
      }

      p {
        opacity: 60%;
        margin-bottom: auto;
      }

      .btns {
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        button {
          @include flex(row, center, center);
          gap: 5px;
          border: 1px solid hsl(0, 0%, 0%, 0.1);
          height: 63px;
          :hover {
            border: 0 !important;
            background: none !important;
          }
          div {
            @include flex(row, center, center);
            width: 25px;
            height: 32px;
            background: #fff;
            border-radius: 10px;
          }
        }
      }
    }

    .pics {
      @include flex(row, center, center);
      width: 45%;
      position: relative;

      img {
        max-width: 100%;
        object-fit: cover;
        overflow: visible;
      }

      :nth-child(2) {
        transform: translate(20%);
        z-index: -1;
      }
      .arrowUp,
      .arrowDown,
      .maze,
      .square1,
      .square2 {
        display: none;
        position: absolute;
        z-index: -1;
      }

      .arrowDown {
        left: 20px;
        top: 20px;
      }
    }
  }
}

.mobile_menu {
  .menu_btn {
    @include flex(row, center, center);
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    border-radius: 0 0 0 20px;
    background-image: url(".././public/assets/header-background.png");
    svg {
      color: #fff;
      width: 70%;
      height: 70%;
    }
  }
  a {
    text-decoration: none;
    text-align: center;
  }

  .menu,
  .menuOpen {
    @include flex(column, flex-start, center);
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
    border-radius: 20px 0 0 20px;
    border-left: 1px solid hsl(0, 0%, 0%, 0.5);
    transform: translate(200%);
    transition: all ease 0.8s;
    z-index: 2;
    padding-top: 70px;
    a {
      text-decoration: none;
    }
    p {
      margin: 0;
    }

    .symbol {
      @include flex(row, flex-start, center);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%);
      padding: 10px;
      cursor: pointer;
      :hover {
        color: #265dc7;
      }
      .name {
        @include flex(column, flex-start, flex-start);
        font-weight: bold;
      }
    }

    .routes {
      @include flex(column, flex-start, center);
      gap: 1rem;
      padding-top: 2rem;
      width: 100%;

      .category {
        font-size: 1.5em;
      }

      .links_seperator {
        @include flex(column, flex-start, center);
        width: 100%;
        height: 100%;

        .link,
        .selected {
          @include flex(row, center, center);
          width: 100%;
          height: 45px;
          color: #7f7f7f;
        }
        .selected {
          border-top: 0.5px solid hsl(0, 0%, 0%, 0.2);
          border-bottom: 0.5px solid hsl(0, 0%, 0%, 0.2);
          background: #f6f9ff;
          position: relative;
          color: #000 !important;
          .line1,
          .line2 {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 30%;
            height: 50%;
            border-top: 1px dashed #142d5d;
          }
          .line2 {
            right: 0;
            left: inherit;
          }
        }
      }
    }
  }

  .menuOpen {
    transform: translate(0);
  }
}

@media only screen and (max-width: 1200px) {
  .main {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1000px) {
  .main {
    font-size: 12px;
    .head_carousel {
      height: 280px;
      .mySwiper {
        .content {
          .texts {
            max-width: 60%;
            max-height: 100%;
            h1 {
              font-size: 1.2em;
            }
            button {
              padding: 2px 5px;
            }
          }
        }
      }
    }

    .service_category {
      height: auto;

      .service_list {
        .service {
          img {
            width: 50px;
            height: 50px;
          }
        }
      }

      .down_content {
        display: none !important;
      }
    }

    .ads {
      .title {
        padding: 0 1rem;
      }
      .cards {
        .ad_card {
          width: 230px;
          margin: 0 auto;
        }
      }
    }

    .infos {
      @include flex(column, flex-start, center);
      gap: 1rem;
      padding: 0 2rem;
    }

    .market {
      .market_materials1,
      .market_materials2 {
        .market_card,
        .market_card_special {
          margin: 0 auto;
        }
      }
    }

    .magazine {
      .content {
        @include flex(column, flex-start, center);
        gap: 1rem;

        .solid_pic,
        .mag_options {
          width: 100%;
          .option {
            .texts {
              .refrences {
                button {
                  width: 95px;
                  height: 30px;
                }
              }
            }
          }
        }
      }
    }

    .club_link {
      @include flex(column, flex-start, center);
      .link {
        width: 100%;
      }
    }

    .install_app {
      @include flex(column, flex-start, center);

      .texts {
        padding: 1rem;
        gap: 2rem;
        text-align: center;
        .title {
          margin-bottom: 2rem;
        }
        .btns {
          width: 100%;
          flex-direction: column;
          button {
            width: 100%;
            div {
              width: 25px;
              height: 25px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main {
    .head_carousel {
      height: 180px;
      padding: 0 20px;
      margin: 20px 0;
      .mySwiper {
        .content {
          .texts {
            padding: 0;
            padding-right: 10px;
            gap: 5px;
            .btn {
              width: 100px;
              height: 30px;

              div {
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }

    .ads,
    .market_materials1,
    .market_materials2 {
      .swiper_prev,
      .swiper_next {
        display: none;
      }
    }

    .ads {
      .cards {
        padding: 0;
        .opacity {
          display: none;
        }
      }
    }

    .market {
      padding: 0 2rem;

      .market_materials1,
      .market_materials2 {
        padding: 0 10px;
        height: 450px;
      }
    }

    .magazine {
      padding: 0 1rem;
    }

    .fan_club {
      .club_list {
        .slide {
          max-width: 90px;
        }
        .box {
          width: 80px;
          height: 80px;
        }
      }
    }

    .infos {
      .info,
      .info_black {
        height: auto;
        .texts {
          gap: 3px;
          button {
            padding: 3px 5px;
            width: 100px;
            height: 30px;
            div {
              width: 20px;
              height: 25px;
            }
          }
        }
      }
    }

    .install_app {
      .texts {
        width: 100%;
      }
      .pics {
        padding: 1rem;
        width: 100%;
        :nth-child(1) {
          transform: translate(-20%);
        }
        img {
          object-fit: cover;
          max-width: 150px;
          max-height: 300px;
        }
      }
    }
  }

  .mobile_menu {
    font-size: 12px;
    gap: 5%;

    .link {
      .icon {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .main {
    .infos {
      margin: 0;
      .info,
      .info_black {
        @include flex(column, flex-start, center);

        .texts {
          h1 span {
            color: #fff;
          }
          width: 70%;
          align-items: center;
          text-align: center;
          padding: 1rem;
        }
        .image {
          width: 70%;
        }
        .background {
          display: none;
        }
      }
    }

    .magazine {
      .title {
        .btns {
          button {
            @include flex(row, center, center);
            width: 28px;
            height: 28px;
          }
        }
      }

      .content {
        .solid_pic {
          .caption {
            width: 95%;
            padding: 5px;
            bottom: 0;
            transform: translate(-50%, 0);
          }
        }

        .mag_options {
          .option {
            .texts {
              align-items: center;
              gap: 1rem;
              .title {
                justify-content: center;
              }
            }
          }
        }
      }
    }

    .club_link {
      @include flex(column, flex-start, center);
      .link {
        width: 100%;
        .texts {
          align-items: center;
          .refrences {
            flex-direction: column;
            gap: 1rem;
            button {
              width: 120px;
            }
          }
        }
      }
    }

    .install_app {
      .texts {
        .title {
          font-size: 1.6em;
        }
      }
    }
  }

  .mobile_menu {
    .menu_btn {
      width: 40px;
      height: 40px;
    }
  }
}
