@font-face {
  font-family: dana;
  src: url("../public/fonts/Dana-Medium.ttf");
}

@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.main {
  @include flex(column, flex-start, center);
  width: 100%;
  font-family: dana;

  .head_carousel {
    width: 90%;
    margin: 2rem 0;
    height: 380px;
    border-radius: 25px;

    .mySwiper {
      width: 100%;
      height: 100%;

      .swiper_slide {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .content {
        @include flex(row, space-around, center);
        color: #fff;

        .texts {
          @include flex(column, flex-start, flex-start);
          max-width: 40%;
          padding: 0 1rem;

          h1 {
            font-size: 2em;
          }
          p {
            opacity: 0.6;
          }

          .btn {
            @include flex(row, center, center);
            gap: 5px;
            background-color: #fff;
            color: #000;

            div {
              @include flex(row, center, center);
              background: #142d5d;
              width: 20px;
              height: 30px;
              padding: 2px 8px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .service_category {
    width: 100%;
    height: 640px;

    .title {
      @include flex(row, center, center);
      height: 50px;
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
    }

    .mySwiper {
      width: 100%;
      height: 590px;
      background-image: url("../public/assets/main/service-background.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;

      .swiper_slide {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .content {
        @include flex(column, space-between, center);
        height: 100%;
        color: #fff;
        padding: 1rem;

        .service_list {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          gap: 10px;
          width: 100%;

          .service {
            @include flex(column, flex-start, center);
          }
        }

        .down_content {
          @include flex(row, space-between, center);
          width: 100%;
          height: 50%;

          .texts {
            @include flex(column, flex-start, center);
            gap: 30%;
            height: 100%;

            .service_list {
              @include flex(row, flex-start, flex-start);
              flex-wrap: wrap;
            }

            p {
              font-size: 2em;
              font-weight: bold;
            }
          }

          .speed_ometeres {
            @include flex(row, flex-start, flex-end);
            height: 100%;

            .big_speedometer {
              width: 70%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }

            .small_speedometer {
              width: 30%;
              height: 40%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }
  }

  .ads {
    width: 100%;
    height: 470px;
    margin: 2em;
    margin-right: 2em auto;
    position: relative;

    .title {
      @include flex(row, space-between, center);
      width: 100%;
      padding: 0 2em;

      h1 {
        font-size: 2em;
      }
      button {
        background: #142d5d;
        border-radius: 5px;
        color: #fff;
      }
    }

    .cards {
      @include flex(row, flex-start, center);
      overflow-x: scroll;
      width: 100%;
      height: 100%;
      padding: 0 2em;

      .ad_card {
        @include flex(column, space-between, center);
        width: 260px;
        min-width: 260px;
        height: 90%;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.06);
        padding: 2em;

        .image {
          height: 35%;
          width: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .title {
          width: 100%;
          font-weight: bold;
        }

        .details {
          @include flex(row, space-between, center);
          width: calc(100% + 2em);
          border-top: 1px solid hsla(0, 0%, 0%, 0.1);
          border-bottom: 1px solid hsla(0, 0%, 0%, 0.1);
          background: rgba(217, 217, 217, 0.2);

          .option {
            @include flex(column, space-around, center);
            padding: 1em;
            div {
              @include flex(column, space-around, center);
              height: 100%;
              font-size: 0.8em;
              color: #4a80e8;
              span {
                font-weight: bold;
              }
            }
          }
        }

        .location_rate {
          @include flex(row, space-between, center);
          width: 100%;
          padding: 1em 0;

          .rate,
          .location {
            @include flex(row, center, flex-start);
          }

          .location {
            flex-direction: column;
            :nth-child(2) {
              color: #3c3c3c;
              font-size: 0.9em;
            }
          }
        }

        .link {
          width: 100%;
          button {
            @include flex(row, space-between, center);
            width: 100%;
            color: #fff;

            div {
              width: 20%;
              height: 100%;
              background-image: url("../public/assets/main/link-back.svg");
              background-repeat: no-repeat;
              background-size: 100% 100%;
            }
          }
        }
      }

      .opacity {
        position: absolute;
        left: 0;
        width: 200px;
        height: 450px;
        opacity: 30%;
        background: #fff;
        box-shadow: 20px 0 50px #fff;
      }
    }
  }
}
