@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

//offers styles
.offers {
  @include flex(column, flex-start, center);
  width: 100%;

  p {
    margin: 0;
  }

  .head_carousel {
    width: 90%;
    margin: 2rem 0;
    height: 380px;
    border-radius: 25px;

    .mySwiper {
      width: 100%;
      height: 100%;

      .swiper_slide {
        width: 100%;
        height: 100%;
        position: relative;
      }

      .background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }

      .content {
        @include flex(row, space-around, center);
        color: #fff;

        .texts {
          @include flex(column, flex-start, flex-start);
          gap: 1rem;
          max-width: 40%;
          padding: 0 1rem;

          h1 {
            font-size: 2em;
          }
          p {
            opacity: 0.6;
          }

          .btn {
            @include flex(row, center, center);
            gap: 5px;
            background-color: #fff;
            color: #000;

            div {
              @include flex(row, center, center);
              background: #142d5d;
              width: 20px;
              height: 30px;
              padding: 2px 8px;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }

  .market {
    @include flex(row, flex-start, flex-start);
    width: 100%;
    padding: 2rem;

    .title {
      cursor: pointer;
    }

    ::-webkit-scrollbar {
      width: 12px;
    }
    ::-webkit-scrollbar-track {
      background-color: rgba(234, 237, 243, 0.5);
      width: 6px;
      border-radius: 20px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: #142d5d;
      border-radius: 20px;
      border: 4px solid transparent;
      background-clip: content-box;
    }
    ::-webkit-scrollbar-thumb:hover {
      background-color: #a8bbbf;
    }

    .market_filters {
      @include flex(column, flex-start, flex-start);

      .categories,
      .brands,
      .year,
      .price_range,
      .color_select {
        @include flex(column, flex-start, flex-start);
        gap: 10px;
        width: 250px;
        max-height: 250px;
        padding: 1rem;

        .title {
          @include flex(row, space-between, center);
          width: 90%;
          font-weight: bold;
          font-style: 1.2em;
          margin: 0 5%;
          cursor: pointer;
        }

        .list {
          @include flex(column, flex-start, flex-start);
          width: 100%;
          overflow-y: scroll;
          max-height: 200px;

          .list_item {
            @include flex(row, space-between, center);
            color: #787878;
            width: 80%;
            height: 40px;
            min-width: 40px;
            border-bottom: 1px solid #e6e6e6;
            padding: 5px;
            margin: 0 10%;

            button {
              width: 18px;
              height: 18px;
              border-radius: 5px;
              border: 1px solid #2d3142;
              padding: 0;
              :active {
                background: #4a80e8;
              }
            }
          }
        }
      }

      .year,
      .price_range,
      .color_select {
        height: auto;
      }

      .year {
        .list {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          height: auto;
          overflow: hidden;

          .list_item {
            width: auto;
            gap: 3px;
            padding: 5px;
            margin: 0;
            border: none;
            font-size: 0.9em;

            button {
              width: 18px;
              height: 18px;
              border-radius: 5px;
              border: 1px solid #2d3142;
              padding: 0;
              :active {
                background: #4a80e8;
              }
            }
          }
        }
      }

      .price_range {
        .range {
          @include flex(column, flex-start, flex-start);
          gap: 10px;
          width: 100%;

          .range_input {
            height: 6px;
            width: 100%;
            background-color: #eaedf3;
            border-radius: 10px;
          }

          .to,
          .from {
            font-size: 0.9em;
          }

          .to {
            @include flex(row, flex-end, center);
            width: 100%;
          }
        }
      }

      .color_select {
        .color_list {
          @include flex(row, flex-start, flex-start);
          flex-wrap: wrap;
          gap: 15px;
          padding: 0 5%;
          width: 100%;

          .color_box {
            width: 20px;
            height: 20px;
            border-radius: 4px;
            background: #d62828;
          }
        }
      }
    }

    .market_items {
      @include flex(row, flex-start, flex-start);
      gap: 1rem;
      flex-wrap: wrap;
      width: 100%;
      padding: 2rem;

      .tabs {
        @include flex(row, space-between, center);
        width: 100%;
        height: 42px;
        border-bottom: 2px solid #e6e6e6;

        .tabs_names {
          @include flex(row, flex-start, center);
          width: 60%;
          height: 100%;
          gap: 5%;
          cursor: pointer;
          p {
            @include flex(row, flex-start, center);
            margin: 0;
          }
        }
      }

      .market_card {
        @include flex(column, flex-start, center);
        width: 260px;
        min-width: 260px;
        height: 380px;
        border-radius: 15px;
        box-shadow: 11px -3px 30px 0px rgba(216, 7, 57, 0.12);
        position: relative;
        margin: 0 auto;

        .badge {
          @include flex(column, flex-start, center);
          padding: 5px;
          font-size: 0.8em;
          position: absolute;
          top: 0;
          right: 10%;
          border-radius: 0px 0px 15px 15px;
          background: #fdc830;
        }

        .image {
          @include flex(row, center, center);
          width: 100%;
          height: 40%;
          img {
            width: 40%;
            height: 100%;
          }
        }

        .texts {
          @include flex(column, flex-start, center);
          gap: 10px;
          padding: 0 1rem;
          h1 {
            font-size: 1.2em;
            font-weight: bold;
          }
          p {
            color: #3f3f3f;
            opacity: 0.6;
            margin: 0;
          }
        }

        .price {
          @include flex(column, flex-start, center);
          font-size: 1.3em;
          padding: 0.5rem;
          :nth-child(2) {
            opacity: 0.6;
            text-decoration: line-through;
          }
        }

        .button {
          @include flex(row, center, center);
          width: 100%;

          button {
            @include flex(row, space-between, center);
            width: 75%;
            height: 90%;
            span {
              margin: 0 auto;
            }
            div {
              @include flex(row, center, center);
              width: 15%;
              padding: 5px;
              background: #b1062e;
              border-radius: 10px;
            }
          }
        }
      }

      .market_card:last-child {
        margin-left: auto !important;
      }

      .buy_sale_card {
        @include flex(column, flex-start, center);
        width: 260px;
        min-width: 20%;
        height: 325px;
        border-radius: 15px;
        box-shadow: 11px -3px 30px 0px rgba(216, 7, 57, 0.12);
        position: relative;
        margin: 5rem auto;
        cursor: pointer;

        .image {
          width: 100%;
          height: 100%;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
            height: 100%;
          }

          .texts {
            @include flex(column, flex-start, flex-start);
            gap: 5px;
            z-index: 2;
            width: 20%;
            position: absolute;
            left: 5%;
            top: 5%;

            .year_box {
              @include flex(column, center, center);
              width: 100%;
              border-radius: 12px;
              border: 1px solid #142d5d;
              background: #eaedf3;
              padding: 0.5rem 1rem;
            }

            .share_bookmark {
              @include flex(row, center, center);
              gap: 10%;
              width: 100%;
              padding: 5px;

              div {
                border-radius: 6px;
                border: 1px solid #fff;
                background: rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(35px);
                img {
                  width: 1.2rem;
                  height: 1.2rem;
                }
              }
            }
          }
        }

        .details {
          @include flex(column, flex-end, flex-start);
          gap: 5px;
          width: 80%;
          color: #fff;
          padding: 1rem;
          padding-bottom: 0;
          position: absolute;
          bottom: 0;
          transform: translate(0, 50%);
          border-radius: 20px;
          border: 1px solid #fff;
          background: rgba(22, 41, 211, 0.5);
          backdrop-filter: blur(45px);
          z-index: 2;
          cursor: pointer;

          .title {
            font-size: 1.2em;
            font-weight: bold;
          }

          .button {
            @include flex(row, center, flex-end);
            width: 100%;
            margin-top: auto;
            button {
              color: #fff;
              border-radius: 10px 10px 0px 0px;
              border-top: 1px solid #fff;
              border-right: 1px solid #fff;
              border-left: 1px solid #fff;
              background: rgba(255, 255, 255, 0.2);
              span {
                color: #101010;
              }
            }
          }
        }
      }

      .job_card {
        @include flex(column, flex-start, center);
        gap: 5%;
        padding: 1rem;
        width: 260px;
        height: 375px;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.06);
        margin: 0 auto;

        .image {
          width: 100%;
          height: 45%;
          border-radius: 20px;
          overflow: hidden;
          position: relative;
          img {
            width: 100%;
          }
          .rate_box {
            @include flex(column, center, center);
            width: 40px;
            height: 40px;
            color: #fff;
            position: absolute;
            top: 2%;
            right: 2%;
            border-radius: 10px;
            border: 1px solid #ffd029;
            background: rgba(255, 208, 41, 0.1);
            backdrop-filter: blur(52px);
          }
        }

        .texts {
          @include flex(column, center, center);
          h1 {
            font-size: 1.2em;
            font-weight: bold;
          }
          p {
            opacity: 40%;
          }
        }

        .status {
          @include flex(column, flex-start, flex-start);
          width: 100%;

          .is_open {
            @include flex(row, flex-start, center);
            gap: 4px;
            width: 100%;
            color: #1bc217;
            .circle {
              width: 5px;
              height: 5px;
              border-radius: 50%;
              background: #1bc217;
            }
          }

          .time_location {
            @include flex(row, space-between, flex-start);
            width: 100%;
          }
        }

        .btn {
          @include flex(row, center, center);
          width: 100%;
          button {
            @include flex(row, center, center);
            width: 90%;
            border-radius: 10px;
            background: #142d5d;
            color: #fff;
            box-shadow: 0px 4px 30px 0px rgba(20, 45, 93, 0.2);
            position: relative;
            div {
              @include flex(row, center, center);
              position: absolute;
              width: 50px;
              height: 100%;
              left: 0;
              border-radius: 10px;
              background: #051637;
              box-shadow: 0px 4px 30px 0px rgba(5, 22, 55, 0.2);
            }
          }
        }
      }
    }
  }
}
