@font-face {
  font-family: dana;
  src: url("../public/fonts/Dana-Medium.ttf");
}

@mixin flex($d, $j, $a) {
  display: flex;
  flex-direction: $d;
  justify-content: $j;
  align-items: $a;
}

.trade_page {
  @include flex(column, flex-start, center);
  padding: 0 5%;
  font-size: 16px;
  font-family: dana;

  p {
    margin: 0;
  }

  .title {
    @include flex(row, flex-start, center);
    width: 100%;
    gap: 10px;
    p {
      font-size: 1.2em;
      font-weight: bold;
    }
  }

  .main_title {
    @include flex(row, space-between, center);
    width: 100%;
    font-size: 2em;
    padding: 2rem 0;
  }

  .main_content {
    @include flex(column, flex-start, flex-start);
    gap: 2rem;
    width: 60%;

    .gallery {
      width: 100%;
      .swiper {
        width: 100%;
        height: 300px;
      }

      .slide {
        background-size: cover;
        background-position: center;
        margin-bottom: 2rem;
      }

      .slide2 {
        overflow: hidden;
        border-radius: 20px;
        img {
          width: 250px;
        }
      }

      .swiper-slide {
        background-size: cover;
        background-position: center;
      }

      img {
        width: 100%;
        border-radius: 20px;
      }

      .mySwiper2 {
        height: 80%;
        width: 100%;
      }

      .mySwiper {
        height: 10%;
        box-sizing: border-box;
        padding: 10px 0;
      }

      .mySwiper .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
      }

      .mySwiper .swiper-slide-thumb-active {
        opacity: 1;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .main_details {
      @include flex(column, flex-start, center);
      gap: 2rem;
      width: 100%;

      .boxes {
        @include flex(row, space-between, center);
        width: 100%;

        .line {
          width: 1px;
          height: 40px;
          border-left: 1px dashed #b2b2b2;
        }

        .box {
          @include flex(column, flex-start, center);
          width: 85px;
          height: 85px;
          background: hsl(0, 0%, 70%, 0.2);
          border-radius: 20px;
          padding: 5px;
          color: #142d5d;
          border: 1px solid #142d5d;
          :nth-child(2) {
            font-weight: bold;
          }
          :last-child {
            font-size: 0.8em;
          }
        }
      }
    }

    .tech_details {
      @include flex(column, flex-start, flex-start);
      width: 100%;
      gap: 2rem;

      .table {
        @include flex(column, flex-start, flex-start);
        border-radius: 12px;
        width: 100%;
        background: #fff;
        padding: 1rem;
        font-size: 1.1em;
        box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);

        .table_row {
          @include flex(row, flex-start, center);
          gap: 2rem;
          width: 100%;

          .value,
          .key {
            padding: 10px;
            border-bottom: 1px solid #e6e6e6;
            min-width: 20%;
          }
          .value {
            width: 100%;
          }
        }
      }
    }
  }

  .other_details {
    @include flex(column, flex-start, center);
    gap: 2rem;
    width: 40%;

    .image {
      @include flex(row, center, center);
      width: 100%;
      img {
        border-radius: 20px;
      }
    }

    .fan_club {
      @include flex(column, flex-start, center);
      gap: 2rem;
      width: 100%;

      .cards {
        @include flex(column, flex-start, center);
        width: 100%;

        .card {
          @include flex(row, flex-start, center);
          gap: 10px;
          width: 100%;
          border-radius: 20px;
          background: #fff;
          padding: 1rem;
          box-shadow: 20px 4px 100px 0px rgba(187, 187, 187, 0.2);

          .image {
            max-width: 20%;
            img {
              border-radius: 20px;
              width: 80%;
              height: 80%;
            }
          }

          .texts {
            @include flex(column, flex-start, center);
            gap: 10px;
            width: 100%;
            .title {
              font-size: 1.1em;
              font-weight: bold;
            }

            .detail {
              @include flex(row, space-between, center);
              width: 100%;
              button {
                @include flex(row, space-between, center);
                border: 1px solid #4a80e8;
                color: #4a80e8;
                position: relative;
                padding: 5px 10px;
                div {
                  width: 30%;
                  height: 100%;
                  img {
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .alike_offers {
    @include flex(column, flex-start, center);
    gap: 2rem;
    width: 100%;
    padding: 4rem 0;

    .title {
      font-size: 1.6em;
      position: relative;

      .next_prev_offers {
        @include flex(row, center, center);
        gap: 10px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-50%, 0);

        .next,
        .prev {
          @include flex(row, center, center);
          width: 50px;
          height: 50px;
          cursor: pointer;
          border-radius: 50%;
          padding: 10px;
          border: 1px solid #000;
        }
      }
    }

    .cards {
      width: 100%;

      .card {
        @include flex(column, space-between, center);
        gap: 1.5rem;
        width: 300px;
        padding: 1rem;
        border-radius: 20px;
        background: #fff;
        box-shadow: 0px 4px 100px 0px rgba(187, 187, 187, 0.2);

        .image {
          width: 100%;
          overflow: hidden;
        }

        .texts {
          border-bottom: 1px solid #e6e6e6;
          padding-bottom: 1.5rem;
          .title {
            font-size: 1.1em;
            font-weight: bold;
          }
          p {
            opacity: 40%;
          }
        }

        .bottom_content {
          @include flex(row, space-between, center);
          width: 100%;

          button {
            @include flex(row, space-between, center);
            border: 1px solid #4a80e8;
            color: #4a80e8;
            position: relative;
            padding: 5px 10px;
            div {
              width: 30%;
              height: 100%;
              img {
                width: 100%;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .swiper {
      width: 100%;
      height: 100%;
    }
  }
}
